@import "components/calendar-index.scss";
@import "components/calendar-show.scss";
@import "components/user-show.scss";
@import "components/shift-form.scss";

* {
  box-sizing: border-box;
}

html{
  height: 100vh;
  font-family: 'Nunito', sans-serif;
  background: #f5f5f5
}
