.calendar-show-title{
  font-size: 35px;
  font-weight: 400;
}

.calendar-show-shifts{
  font-size: 20px;
}

.calendar-show-box{
  margin-bottom: 12px;
}

.calendar-show-edit{
  background-color: #4652b1;
  color: white;
  border: none;
}
