.calendar-index-date-box{
  margin-bottom: 2px;
  border-radius: 20px;
  .calendar-index-date{
    text-align: center;
    font-size: 35px;
    color: black;
    margin-bottom: 10px;
    font-weight: 400;
  }
}

.calendar-index-shift-title{
  text-align: center;
  color: black;
  font-size: 30px;
  margin-bottom: 15px;
}

.calendar-index-employee{
  text-align: left;
  font-size: 18px;
}

.calendar-index-shift-employee-box{
  padding-left: 24px;
}

.calendar-index-shift-box-border {
  border-right: 1px solid #e3e5e8;
}

.calendar-index-shift-evening-border{
  border-left: 1px solid #e3e5e8;
}

.calendar-index-button{
  background-color: #ebebeb;
  border: none;
  font-weight: bold;
}

.index-route-modal-text-wrap{
  margin-bottom: 10px;
}

.index-route-modal-text{
  font-size: 25px;
  font-family: 'Nunito', sans-serif;
  color: white;
  font-weight: bold;
  text-align: center;
}

.index-route-button-wrap{
  display: flex;
  justify-content: space-around;
}

.index-route-button-style{
  background-color: #B99758;
  color: white;
  font-weight: bold;
  border: none;
}

@media only screen and (max-width: 1024px) {
  .calendar-index-shift-employee-box {
    padding-left: 0;
  }
  .calendar-index-shift-box-border {
    border-right: none;
  };

  .calendar-index-shift-evening-border{
    border-left: none;
  }

  .calendar-index-date{
    text-align: center;
    font-size: 25px;
    color: black;
    margin-bottom: 10px;
    font-weight: 400;
  }

  .calendar-index-shift-title{
    text-align: center;
    color: black;
    font-size: 20px;
    margin-bottom: 15px;
  }
}
