.day-form-title{
  width: 80%;
  margin: auto;
}

.day-form-title-text{
  font-size: 35px;
  font-weight: 400;
  font-family: 'Nunito', sans-serif;
  color: black;
}

.day-form-wrap-box{
  width: 80%;
  margin: auto;
}

.day-form-button{
  margin-left: 12px;
  margin-right: 12px;
  line-height: 0;
  width: 75px;
  background-color: #B99758;
  color: white;
  font-weight: bold;
  border: none;
}

.day-form-date{
  margin-bottom: 10px;
}

@media only screen and (max-width: 1024px) {
  .day-form-title-text{
    font-size: 25px;
    font-weight: 400;
    font-family: 'Nunito', sans-serif;
  }
}
