div.user-show-info-box{
  margin-bottom: 20px;
}

.user-show-days{
  margin-bottom: 1px;
}

.user-show-request-title{
  font-family: 'Nunito', sans-serif;
  font-size: 35px;
  font-weight: bold;
}

.user-show-request-box{
  margin-bottom: 1px;
}
