ul.user-show-info-box{
  margin-bottom: 30px!important;
}

.user-show-request-text{
  font-size: 18px;
}

.user-show-days{
  border-radius: 10px;
}

.user-show-request-title{
  font-family: 'Nunito', sans-serif;
  font-size: 35px;
  font-weight: bold;
}

.user-show-request-box{
  margin-bottom: 1px;
}
